* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman';
}
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    gap: 40px;
    height: 100vh;
}

.slider-container {
    margin-top: 30px;
    position: relative;
}
.slider-container .slide-number {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background-color: #1e3e5e;
    color: #fff;
    padding: 7px;
    width: 80px;
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    text-align: center;
}
.images {
    position: relative;
    width: 1000px;
    height: 550px;
}
img {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    border: 2px solid #000;
    border-radius: 4px;
}

img.active {
    opacity: 1;
}

.controls {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.controls ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.controls ul li {
    width: 15px;
    height: 15px;
    background-color: rgba(129, 135, 255, 0);
    border-radius: 50%;
    border: 1px solid #333;
    cursor: pointer;
}
.controls ul li.active {
    background-color: rgb(124, 15, 15);
}
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: indianred;
    border-radius: 5px;
    color: #fff;
}