* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input {
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: rgb(241, 241, 241);
    width: 400px;
    height: 50px;
    padding: 10px;
}
input:focus {
    outline: none;
}
.holder {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress {
    display: block;
    width: 100px;
    height: 2px;
    background-color: red;
    position: relative;
    top: -1.5px;
    left: 0;
}
.counter {
    font-size: 24px;
    font-weight: bold;
}
.zero {
    color: red;
}