* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    margin: 20px;
    font-size: 64px;
    cursor: pointer;
}
i.close {
    color: indianred;
    border: 1px solid indianred;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: 0.3s;
}
nav.open {
    transform: translateY(0);
}
nav ul {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 80px;
}
nav ul li {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}