* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.app-container {
    background-color: #EAE0CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.input-holder {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-holder input {
    border: none;
    width: 500px;
    height: 60px;
    padding: 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.input-holder input:focus {
    outline: 2px solid indianred;
}
.input-holder button {
    width: 80px;
    height: 40px;
    border: none;
    background-color: indianred;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.repos-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

}
.repo {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: rgb(172, 21, 21);
    padding: 6px;
    border-radius: 10%;
}